<div>
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{article.title}}</h4>
        <div class="username"><img class="avatar" ng-src="{{article.user.pictureUrl}}">{{article.articleId}} / {{article.user.userName}}</div>
        <div>
            <div class="comment count">댓글수 {{article.commentCount}}</div>
            <div class="view count">조회수 {{article.viewCount}}</div>
            <div class="like count">좋와요 {{article.likeCount}}</div>
        </div>
    </div>
    <div class="modal-body">
        <div class="content">
            {{article.content}}
            <img class="content-image" ng-src="{{article.imageSummaryUrl}}">
        </div>
    </div>
    <div class="modal-footer">
        <div class="comment">
            <div>{{article.commentCount}} 건</div>
            <div>
                <input type="textarea" style="height:50px;width:100%" placeholder="내용을 넣으세요.">
            </div>
            <div ng-repeat="comment in comments">
                <div><img class="avatar" ng-src="{{comment.pictureUrl}}"> <span>{{comment.userName}}</span><p>{{comment.content}}</p></div>
            </div>
        </div>
    </div>
</div>